{% extends 'base_admin.html' %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h3>All Travel Packages</h3>
    <a href="{% url 'admin_add_package' %}" class="btn btn-primary">
        + Add New Package
    </a>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-navy-blue">
        <tr>
            <th>Name</th>
            <th>Destination</th>
            <th>Type</th>
            <th>Price</th>
            <th>Available</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for package in packages %}
        <tr>
            <td>{{ package.name }}</td>
            <td>{{ package.destination }}</td>
            <td>{{ package.package_type }}</td>
            <td>₹{{ package.price }}</td>
            <td>
                {% if package.available %}
                    <span class="badge bg-success">Yes</span>
                {% else %}
                    <span class="badge bg-danger">No</span>
                {% endif %}
            </td>
           <td>
    <a href="{% url 'admin_update_package' package.id %}"
       class="btn btn-sm btn-warning">
       Update
    </a> <br>

    <a href="{% url 'admin_delete_package' package.id %}"
       class="btn btn-sm btn-danger">
       Delete
    </a>
</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">No packages found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
