<div class="sidebar">
    <h4 class="text-center py-4 border-bottom">Admin Panel</h4>

    <a href="{% url 'admin_dashboard' %}">
        <i class="fa fa-chart-line me-2"></i> Dashboard
    </a>

    <a href="{% url 'admin_country_list' %}">
        <i class="fa fa-map-marker-alt me-2"></i> Countries
    </a>

    <a href="{% url 'admin_package_list' %}">
        <i class="fa fa-suitcase me-2"></i> Packages
    </a>

    <a href="{% url 'admin_booking_list' %}">
        <i class="fa fa-calendar-check me-2"></i> Bookings
    </a>

    <a href="{% url 'admin_users' %}">
        <i class="fa fa-users me-2"></i> Users
    </a>

    <a href="{% url 'admin_feedbacks' %}">
        <i class="fa fa-comments me-2"></i> Feedbacks
    </a>

    <a href="{% url 'admin_messages_list' %}">
        <i class="fa fa-envelope me-2"></i> Messages
    </a>

    <!-- NEW -->
    <a href="{% url 'admin_news_list' %}">
        <i class="fa fa-newspaper me-2"></i> News
    </a>

    <a href="{% url 'admin_blog_list' %}">
        <i class="fa fa-blog me-2"></i> Blogs
    </a>

     <a href="{% url 'admin_gallery' %}">
        <i class="fa fa-images me-2"></i> Gallery
    </a>

    <a href="{% url 'logout_view' %}" class="mt-3 text-warning">
        <i class="fa fa-right-from-bracket me-2"></i> Logout
    </a>

    

</div>